/* Variables */
:root {
  --primary-color: hsl(25, 97%, 53%);
  /* Neutrals */
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);

  --Medium-Grey: hsl(216, 12%, 54%);
  /* Card BG */
  --Dark-Blue: hsl(213, 19%, 18%);
  /* BG */
  /* Button */
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  /* fonts */
  --default_font:'Overpass', sans-serif;

}
/* General */
html {
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
  font-family: var(--default_font);
  color: var(--White);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: ; */
  flex-grow: 1;
  height: 100%;
}

button {
  height: 2.5rem;
  width: 80%;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2rem;
  color: var(--White);
  margin: auto;
  margin-top: 1rem;
}

.icon-frame-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border:none;
  margin: 0 .5rem 0;
  background-color: var(--Very-Dark-Blue);
  transition: background-color 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.card {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 250px;
  background-color: var(--Dark-Blue);
  border-radius: 10px;

  padding: 1.2rem;
}

.card h1 {
  font-size: 1.8rem;
  margin-bottom: .2rem;
}

#card-contents > form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Styled Radio CSS */
input[type="radio"] {
  display: none;
}

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border:none;
  margin: 0 .5rem 0;
  background-color: var(--Very-Dark-Blue);
  transition: background-color 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.radio-button:hover{
  background-color: var(--primary-color);
}

input[type="radio"]:checked + .radio-button {
  background-color: var(--Light-Grey);
}

input[type="radio"]:checked + .radio-button:hover {

}


input[type="radio"]:checked + label {
  background-color: blue;
}

input[type="radio"]:checked:before {
  background-color: red;
}

/* Style radio end */
.card-content > p,
.card button {
  margin-top: 2rem;
}



#post-rating {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#post-rating img {
  width: 10rem;
}

#selection-notification {
  display: inline-block;
  height: 2rem;
  padding: 1rem 1rem .1rem;
  background-color: var(--Medium-Grey);
  color: var(--primary-color);
  border-radius: 25px;
}

.attention {
  font-size: 2rem;
  margin: .3rem 0 0;
}

.message {
  color: var(--Light-Grey);
}



/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* Wave */

/* .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.wave {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.circle:hover .wave {
  width: 200px;
  height: 200px;
  opacity: 1;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
} */